[submodule "kohana/modules/MangoDB"]
	path = kohana/modules/MangoDB
	url = http://github.com/Wouterrr/MangoDB.git
[submodule "utils/python-readability"]
	path = utils/python-readability
	url = http://github.com/gfxmonk/python-readability.git
[submodule "kohana/media/blueprint"]
	path = kohana/media/blueprint
	url = git://github.com/joshuaclayton/blueprint-css.git
