/* 
    Document   : print
    Created on : 17 Jun, 2010, 11:05:39 PM
    Author     : techie2go
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

