.hidden {
  display: none;
}
.menu-links, .comment-action {
  display: inline;
}
.home-page-image {
  max-width: 150px;
}
.news-page-image{
  max-width: 190px;
}
.news-page-followup-image{
  max-width: 120px;
}
.quick-form {
  background-color: #ccc;
  position: absolute;
  z-index: 999;
  padding:10px;
}
.quick-form textarea {
  width: 200px;
  height: 150px;
}

.submit_button, .reset_button{
  border:0;
  background-color: green;
  color:#fff;
  -moz-border-radius: 1px;
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,.5);
  padding: 5px;
  cursor: pointer;
}
.submit_button.unimpressive {
  background-color: #808080;
  color: #AAAAAA;
}
.large_button {
  font-size: large;
}
.reset_button {
  background-color: red;
}
.news-list-item {
  margin-bottom: 10px;
  -moz-border-radius: 5px;
}
.item-odd {
  background-color: #f0f0f0;
}
.item-even {
  background-color: #f7f7f7;
}
.news-list-actions {
  padding: 10px 0;
}
.news-list-desc {
  font-style: italic;
}
a.vote , a.vote:visited {
  color : #000;
}
a.vote:hover {
  background-color: #000;
  color: #fff;
}
.reported, .reported a{
  text-decoration: line-through;
  color: #eeeeee;
}