/* 
    Document   : style
    Created on : 17 Jun, 2010, 11:05:30 PM
    Author     : techie2go
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  font-weight: lighter;
}
.site-header {

  margin: 9px;
}
.site-header-menu {
  height: 44px;
  margin: 10px 0px;
}
body { 
  width: 1024px;
  margin: auto;
}
ul.menu-links {
  padding-left: 0px;
  float: right;
}
ul.menu-links li {
  display: inline;

}
ul.menu-links li a{
  font-size: large;
  -moz-border-radius: 3px;
  border: 1px solid #ccc;
  color: #888;
  background-color: #FFF;
}
ul.menu-links li a:hover{
  background-color: #CCC;
  color: #FFF;
}
.news-list-item {
  float: left;
  width: 400px;
  border: 1px solid #BBBCBF;
  margin: 5px 10px;
  -moz-border-radius: 9px;
  padding: 5px 5px 5px 20px;
}
.news-list-title a{

}
.news-list-title {
  font-size: large;
  text-transform: capitalize;
}
.news-list-desc {
  font-style: italic;
  margin: 9px;
  max-height: 168px;
  max-width: 360px;
  line-height: 24px;
  overflow: hidden;
  text-align:justify;
}
.news-list-actions {
  float:right;
}
ul {
  list-style: none;
}
.news-page-desc {
  margin: 12px;
  font-style: italic;

  text-align:justify;
}
ul.news-page-items {
  float: right;
}
.clear-line {
  clear:both;   
}

.news-followup-items {
  margin: 0px 0px 0px 25px;
}
.news-page-container {
  width:1000px;
  margin:auto;
  -moz-border-radius:7px;
  -webkit-border-radius:7px;
  margin-left:10px;
  margin-top:0px;
  margin-bottom:8px;


  border:1px solid #bbbcbf;
  padding-left:5px;
  padding-top:5px;
  padding-right:8px;
  padding-bottom:0px;

  background-color:#ffffff;
}
.news-page-followupitem {
  padding: 12px;
}

.news-followup-item-container, .news-page-comment-item  {
  -moz-border-radius:7px;
  -webkit-border-radius:7px;
  margin-left:10px;
  margin-right:31px;
  margin-top:0px;
  margin-bottom:8px;


  border:1px solid #bbbcbf;
  padding-left:5px;
  padding-top:5px;
  padding-right:8px;
  padding-bottom:0px;

  background-color:#ffffff;
}
.news-page-comment-item {
  margin: 15px;
  display:block;
  clear:both;
}
.followup-item-odd {
  background-color:#F7F7F8;

}
.followup-item-even {
  background-color:#ffffff;


}
.news-page-followup-list-actions {
  margin-left: 90%;
}
.news-page-title {
  font-size: 24pt;
  font-weight: bold;
  text-transform: capitalize;

}
.news-page-title *{
  font-size: large;
  display: inline;
}
.new-page-title-sep {
  margin: 0px 5px;
}
.news-page-comments-postedby {
  display: inline;
  font-style: italic;
  font-size: small;
}
textarea {
  width: 400px;
  height: 100px;
}
.comment-reply-form-container  input[type=text] {
  width: 400px;
}
img {
  border :0 none;
}
.news-page-original-url {
  width: 230px;
}


.news-page-links-container {

  margin: 12px;
}
.news-page-link {
  display: block;
  height: 32px;

}
.news-page-content {
  overflow: auto;
}
.news-title-link {
  background-repeat: no-repeat;
  padding: 0px 20px;
}
.news-page-comments-title {
  font-size: large;
}
.comment-form-container {
  -moz-border-radius:5px 5px 5px 5px;
  -webkit-border-radius:5px 5px 5px 5px;
  border-radius:5px 5px 5px 5px;
  border:1px solid #CCCCCC;
  margin:10px;
  padding:10px;
  width:930px;
}
input[type=submit], input[type=reset]  {
  border: 0;
  -moz-border-radius: 1px 1px 1px 1px;
  background-color: #444;
  color: #fff;
  -moz-box-shadow: 1px 1px 2px rgba(0,0,0,.5);
  cursor:pointer;
  display:inline;
  margin:5px;
  padding:5px;
}
input[type=reset] {
  background-color: #d42727;
  color: #ffffff;
}
.hidden {
  display: none;
}
.comment-reply-form-container, .comment-form-container {
  background-color:#E6EFC2;
  margin:10px;
  padding:10px;
  width:425px;
}
a.news-page-comment-title {
  font-weight: bold;
  margin-left: 10px;
}
.news-page-comment-item-title  {
  line-height: 24px;
  float:left;
}
.news-page-comment-item-desc {
  margin: 5px;
}

.news-page-full-story-overlay {
  position: absolute;
  top: 0;
  left:0;
  width: 1400px;
  height: 2000px;
  z-index: 1000;
  overflow: visible;
  background-color: #fff; 
}
.news-page-full-story {
  position: absolute;
  top: 50px;
  left:100px;
  width: 700px;
  height: 900px;
  z-index: 2000;

}
.news-page-full-story-controls {
  margin:50px;
  position:absolute;
  left:800px;
}
.story-control {
  height: 200px;
  width: 200px;
  background-color: #fff;
  background-repeat: no-repeat;
  cursor: pointer;
}
.story-control img {
  height: 180px;
  max-width: 180px;
}

.container-title {
  font-weight: bold;
  margin: 0 0 10px 0;
}
.news-page-comment-item-action ul{
  margin: 0;
  padding: 0;
}
.news-page-comment-item-action ul li {
  display: inline;
}
.vote-panel {
  width: 25px;
  float: left;
}
.collapsed .vote-panel {
  display:none;
}
.collapsed news-page-comment-title {
  display: none;
}
.comment-item-panel {

}
.vote {
  padding: 0 0 0 25px;
  background-repeat: no-repeat;
  background-position:  -2px -2px;
  color: #444;
  background-color: #d2f1cb;
  -moz-border-radius: 2px;
  line-height: 16px;
}
.vote.no-img {
  padding: 0;
}
.vote.decided.agree {
  background-color: #00aa00;
}
.vote.decided.disagree {
  background-color: #E33100;
}
.vote.decided {
  color: #fff;
}
.vote.agree {
  background-image: url("../icons/yes.png");
  
}
.vote.disagree{
  background-image: url("../icons/no.png");
}
.comment-toggle {
  font-size: small;
  margin-left: 10px;
}
.comment-item-content {

}
.comment-list-votes {
  display:inline;
  font-size:small;
  font-weight:lighter;
}
.news-page-comment-item-action {
  line-height: 32px;
  vertical-align: middle;
}
.home-page-latest-comment {
  background-color: #f0eb96;
  padding: 10px;
}
.home-page-latest-comment-title {
  color: #00aa00;
  margin-bottom: 5px;
}